.eventBox:nth-child(1){
    background-image: url('../../assets/rect1.png');
}

.eventBox:nth-child(2){
    background-image: url('../../assets/rect2.png');
}

.eventBox:nth-child(3){
    background-image: url('../../assets/rect3.png');
}

.eventBox:nth-child(4){
    background-image: url('../../assets/rect4.png');
}

.eventBox:nth-child(5){
    background-image: url('../../assets/rect5.png');
}

.eventBox:nth-child(6){
    background-image: url('../../assets/rect6.png');
}

.eventBox:nth-child(7){
    background-image: url('../../assets/rect7.png');
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-300%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0);
    }
}

.slideDown{
    transform: translateY(-300%);
    animation: slideDown 0.5s ease-in-out forwards;
}

.slideUp{
    transform: translate(200%);
    animation: slideUp 0.5s ease-in-out forwards;
}