@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Japanese';
  src: url('./assets/fonts/electroharmonix.otf') format('opentype');
}

.component {
  scroll-snap-align: start;
}

.component2{
  scroll-snap-align: end;
}

.japanese{
  font-family: 'Japanese', sans-serif;
}

.rubik{
  font-family: 'Rubik', sans-serif;
}

.quicksand{
  font-family: 'Quicksand', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1024px) {
  html, body {
    scroll-snap-type: y mandatory;
  }
}


@keyframes backgroundChange {
  0% {
    background-color: black;
  }
  100% {
    background-color: transparent;
  }
}



body {
  background-image: url('./assets/Vector.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: backgroundChange 2s forwards;
}

@keyframes curtain {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-curtain {
  animation-name: curtain;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
    height: auto;
  }
  99% {
    opacity: 0;
    height: auto;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

.animate-ping {
  animation: fadeInOut 1s forwards;
  animation-delay: 0s;
}
