@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Japanese';
  src: url('./assets/fonts/electroharmonix.otf') format('opentype');
}

.japanese{
  font-family: 'Japanese', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

@keyframes curtain {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-curtain {
  animation-name: curtain;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
}